.preheader.pre--header {
    background: var(--primary--color);
    padding: .8rem 0;
}

.pre--header--block {
    grid-template-columns: auto auto;
}

.socialmedia.social--media ul{
    display: flex;
    gap: 1rem;
}

.socialmedia.social--media .whiteIcons li a svg,
.pre--header--icons span svg{
    fill: var(--color--white)!important;
}

.socialmedia.social--media ul li a svg,
.pre--header--icons span svg{
    width: 1.125rem;
    display: flex;
}

.pre--header--icons span {
    color: var(--color--white);
    font-size: 14px;
}

.pre--header--icons {
    gap: .5rem;
}

.info--block{
    gap:1.5rem
}

.mainmenu.main--menu {
    background: #f8f9fa;
    padding: 0.875rem 0;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}

.main--menu--block{
    grid-template-columns: auto auto;
}

.navigation.nav--menu ul{
    display: flex;
    gap: 3rem;
    align-items: center;
}

.navigation.nav--menu ul li a {
    color: #717275b8;
    font-weight: 600;
}

.navigation.nav--menu ul li a:hover {
    color: var(--primary--color);
}

.navigation.nav--menu ul li:last-child {
    padding: 0.75rem 2.25rem;
    border: 2px solid #717275;
    border-radius: 3.125rem;
    transition: all .2s ease-in;
}

.navigation.nav--menu ul li:hover:last-child {
    background: var(--primary--color);
    border-color: var(--primary--color)
}

.navigation.nav--menu ul li:hover:last-child a {
    color: var(--color--white);
}

@media (max-width:1140px) {
    .navigation.nav--menu ul {
        gap: 2rem;
    }
}

@media (max-width:1024px) {
    .logo img {
        width: 70%;
    }
}

@media (max-width:768px) {
    .mobile--tab{
        display: block;
        cursor: pointer;
    }
    .nav--menu{
        display: none;
    }
    .mobile--menu--block .nav--menu{
        display: block;
    }
    .mobile--menu--block .navigation.nav--menu ul {
        gap: 1rem;
        flex-direction: column;
        padding: 3.125rem 0;
    }
}

@media (max-width:440px) {
    .preheader.pre--header {
        display: none;
    }
    .mobile--pre--header .preheader.pre--header {
        display: block;
    }
}