.about--block .bg{
    background-image: url(../Assest/about-bg.jpg);
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about--block .overlay{
    opacity: .9;
}

.about--img{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.about--img img{
    position: relative;
    width: 80%;
    order: 1;
}

.about--title h2{
    font-family: var(--primary--font);
    text-align: center;
    color: #fff;
}

.about--title p{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
}

.about--container {
    position: relative;
    z-index: 9;
}

.about--title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px dotted #fff;
    padding: 1.875rem;
    width: 27.5rem;
    position: absolute;
    left: 5.625rem;
    height: 24.6875rem;
}

@media (max-width:768px) {
    .about--block .bg {
        height: 60vh;
    }
    .about--img img {
        width: 100%;
    }
    .about--title{
        width: 80%;
        left: 4.625rem;
        height: 29.6875rem;
    }
}

@media (max-width:440px) {
    .about--title {
        width: 100%;
        left: 0;
        height: 27.6875rem;
    }
}