footer.main--footer{
    background: #141414;
}

.grid.main--footer--block {
    grid-template-columns: 45% 1fr 1fr;
    text-align: left;
    color: #fff;
    grid-gap: 5rem;
}

.footer--title h3{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.footer--title p{
    color:#6a6a6a
}

.newslatter {
    position: relative;
}

.newslatter input{
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 0.125rem solid #585858;
    height: 2.5rem;
    outline: 0;
}

.newslatter button{
    position: absolute;
    right: 0;
    bottom: 0.75rem;
    background: transparent;
    border: 0.125rem solid #585858;
    border-radius: 1.5625rem;
    padding: 0.25rem 0.9375rem;
    color: #585858;
    cursor: pointer;
}

.footer--copyright {
    background: var(--secondary-color);
    text-align: center;
    padding: 0.875rem 0;
    margin-top: 3rem;
}
.footer--copyright p{
    font-size: .875rem;
}

@media (max-width:440px) {
    .grid.main--footer--block {
        grid-template-columns: 100%;
        grid-gap: 3rem;
    }
}