.subscription-label {
    background: var(--primary-color);
    margin-bottom: 0.0625rem;
}

.subscription--content {
    grid-template-columns: auto 1fr;
    grid-gap: 5rem;
    padding: 2rem 0;
}

.subscription--content h3{
    color:#fff;
    font-size: 1.875rem;
    font-weight: 500;
}

.subscription--input input{
    position: relative;
    width: 100%;
    height: 3.125rem;
    padding: 0 1.25rem;
    border-radius: 3.125rem;
    outline: 0;
    border: 0;
}

.subscription--input button{
    background: var(--secondary-color);
    border-radius: 3.125rem;
    border: 0;
    color: #fff;
    padding: 0.75rem 3.75rem;
    text-transform: uppercase;
    font-family: var(--font);
    font-size: 1.063rem;
    font-weight: 400;
    cursor: pointer;
}

.subscription--input {
    gap: 0.5rem;
}

@media (max-width:440px) {
    .subscription--content {
        grid-template-columns: 100%;
        text-align: center;
        grid-gap: 1rem;
    }
    .subscription--input button {
        position: absolute;
        right: 13px;
        margin-top: 1px
    }
}