@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  font-size: 16px;
  --conatiner:1200px;
  --margin--auto: 0 auto;
  --font1: "Poppins", serif;
  --font2: "Roboto", sans-serif;
  --primary-color: #16ba0a;
  --secondary-color: #343434;
  --para-color: #464646;

}

body{
  font-family: var(--font1);
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--font1);
}

h2, h3, h4 {
  font-size: clamp(1.8rem, 2.5vw, 2.5rem);
  color: var(--secondary-color);
}

p{
  font-size: 1rem;
  color: var(--para-color);
}

img{width: 100%;display: block;height: auto;}
ul{list-style: none;padding: 0;margin: 0;}
a{transition: all .2s ease-in;text-decoration: none;}

.grid{
  display: grid;
}

.flex{
  display: flex;
}

.cta--btn a,
.cta--btn button{
  color: #fff;
  padding: 0.9375rem 1.875rem 0.9375rem 1.875rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: var(--font2);
  font-weight: 700;
  border-radius: 0.3125rem;
}

.primary--btn{
  background: var(--primary-color);
}
.secondary--btn{
  background: var(--secondary-color);
}

.overlay{
  position: absolute;
  inset: 0;
  background: var(--primary-color);
  mix-blend-mode: darken;
}

.bg{
  height: 47.25rem;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger--menu {
  display: none;
}

@media (max-width:1440px) {
  .bg {
    height: 40rem;
  }
}

@media (max-width: 1024px) {
  .bg {
      height: 30rem;
  }
}