
.main-header{
    background: var(--primary-color);
}

.pre--header-grid {
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: .3rem 0;
}

.preheader.pre--header {
    padding: 0 18%;
}

.flex.deliver--info--icon {
    justify-content: stretch;
    align-items: center;
    gap: 1.25rem;
}

.login--info{
    display: flex;
    justify-content: flex-end;
}

.deliver--info--icon a{
    color: #fff;
    align-items: center;
    gap: .875rem;
}

.deliver--info--icon h4,
.social--icons h4,
.login--info--btn a{
    color: #fff;
    font-weight: 400;
    font-size: 1rem;
    border-left: 0.0625rem solid #fff;
    padding-left: 1.25rem;
}

.social--icons h4,
.login--info--btn a{
    border-left: 0;
    padding-left: 0;
}

.flex.social--icons {
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.social--icons ul{
    display: flex;
    gap: 1rem;
}

.flex.login--info--btn {
    gap: 5rem;
}

.social--icons ul li a img,
.pre--header-grid img{
    width: 1rem;
}

.main--menu--grid {
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: auto;
}

.main--menu--grid img{
    width: auto;
}

nav.navigation.navigation--block {
    background: #fff;
    padding: 2rem 0;
}

.mainmenu.main--menu {
    padding: 0 2%;
}

.account--bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

.account--bar--icons img{
    width: 1.5rem;
}

.account--bar--icons h4{
    font-size: 1.125rem;
    font-weight: 300;
}

.flex.account--bar--icons {
    gap: .5rem;
    align-items: center;
}

.search--filter h4{
    font-size: 0.875rem;
    font-weight: 300;
}

.search--filter {
    padding: 0.5rem;
    border: 0.0625rem solid #0000002b;;
}

.flex.filter-icon {
    gap: .5rem;
    justify-content: center;
    align-items: center;
}

.search--filter img{
    width: 1.25rem;
    display: block;
    height: max-content;
}

.search--input input {
    min-width: 46.4375rem;
    height: 2.5rem;
    padding: 0 1.25rem;
    border: 1px solid #0000002b;
    outline: 0;
}

.flex.search--bar {
    gap: 1.5rem;
}

.search--input button{
    background: var(--primary-color);
    border: 0;
    color: #fff;
    height: 40px;
    padding: 0 2rem;
    font-family: var(--font1);
    position: relative;
    top: -1px;
    cursor: pointer;
}

.main--navigation {
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main--navigation ul {
    display: flex;
    gap: 4rem;
    text-transform: uppercase;
    font-weight: 300;
    padding: 1rem 0;
}

.main--navigation ul li a{
    font-size: clamp(.925rem, 1.125vw, 1.125rem);
    color: #fff;
}

@media (max-width:1440px) {
    .search--input input {
        min-width: 25.4375rem;
    }
    .mainmenu.main--menu {
        padding: 0 4%;
    }
}

@media (max-width:1366px) {
    .account--bar {
        gap: 1rem;
    }
}

@media (max-width:1140px) {
    .preheader.pre--header {
        padding: 0 4%;
    }
    .logo img{
        width: 9.25rem;
    }
    .search--input input {
        min-width: 20.4375rem;
    }
    .account--bar--icons img {
        width: 1rem;
    }
    .account--bar--icons h4 {
        font-size: 1rem;
    }
}

@media (max-width: 1024px) {
    .search--input input {
        min-width: 15.4375rem;
    }
}

@media (max-width:768px) {
    .flex.login--info--btn {
        gap: 2rem;
    }
    .logo {
        grid-area: 1 / span 3;
    }
    .main--menu--grid {
        grid-gap: 2rem;
    }
    .filter-icon h4{
        display: none;
    }
    .flex.search--bar {
        gap: 1rem;
    }
    .logo img {
        width: 15rem;
    }
    .main--navigation ul {
        gap: 2.4rem;
    }
}

@media (max-width: 440px) {
    .pre--header, .account--bar {
        display: none;
    }
    .main--menu--grid {
        grid-template-columns: 100%;
    }
    .search--input button {
        padding: 0 .5rem;
        position: absolute;
        top: 0;
        right: 0;
    }
    .flex.search--bar {
        gap: 1rem;
        justify-content: space-around;
        align-items: center;
    }
    .search--filter {
        padding: 0.8rem;
    }
    .search--input{
        position: relative;
    }
    .search--input input {
        width: 100%;
        max-width: max-content;
    }
    .hamburger--menu{
        display: block;
        cursor: pointer;
        position: relative;
        top: 2px;
    }
    .main--navigation{
        display: none;
    }
    .main--navigation.open{
        display: block;
    }
    .main--navigation ul {
        display: block;
        text-align: center;
        padding: 2rem 0;
    }
    .main--navigation ul li:not(:last-child){
        padding-bottom: .875rem;
    }
    .mobile--cart .account--bar{
        justify-content: center;
        align-items: center;
        padding: .5rem 0;
        gap: 2rem;
    }
    .mobile--cart .account--bar--icons img {
        filter: invert(1);
    }
    .mobile--cart .account--bar--icons h4 {
        color: #fff;
    }
    .mobile--cart {
        background: #3d3c3c;
    }
    .banner--title .cta--btn a {
        padding: 1rem 0px 1rem 0rem;
    }
    .banner--title .cta--btn a {
        max-width: 12rem;
    }

}

