.service.service-block {
    padding-top: 5rem;
}
.service--icons {
    margin-top: 5rem;
    text-align: center;
}
.service-block p{
    color: #727272;
    text-align: center;
}

.icon--box{
    background: rgb(58,186,120);
    background: linear-gradient(179deg, rgba(58, 186, 120, 1) 0%, rgba(19, 227, 120, 1) 65%);
    border-radius: 50%;
    width: 12.5rem;
    height: 12.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons-boxes img{
    width: 3rem;
}

.icons-boxes h3{
    color: #494949;
    font-size: 1rem;
    text-align: center;
    font-weight: 700;
    margin-top: 1.5625rem;
    text-transform: uppercase;
}

.service--icons .cta--btn{
    margin-top: 5rem;
}

@media (max-width:1140px) {
    .icon--box {
        width: 10rem;
        height: 10rem;
    }
}

@media (max-width:1024px){
    .service--icons .flex-space-between {
        justify-content: center;
        gap: 1rem;
    }
}

@media (max-width: 768px) {
    .icon--box {
        width: 8rem;
        height: 8rem;
    }
}

@media (max-width:440px) {
    .service--icons .flex-space-between {
        flex-direction: column;
    }
    .icon--box {
        margin: auto;
    }
}