@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root{
  font-size: 16;
  --container: 1200px;
  --conatiner-space:0 15px;
  --margin-auto: 0 auto;
  --primaray-color: #ed1c24;
  --secondary-color: #090808;
  --font1: "Poppins", serif;
  --font2: "Open Sans", sans-serif;
}

body{
  line-height: 1.5;
  font-family: var(--font1);
  color: var(--secondary-color);
}

img{
  width: 100%;
  display: block;
  height: auto;
}

ul{list-style-type: none;}
a{transition: all .2s ease-in;text-decoration: none;}

p{
  font-family: var(--font2);
}

.container{
  width: var(--container);
  padding: var(--conatiner-space);
  margin: var(--margin-auto);
}

.grid{
  display: grid;
}

.flex{
  display: flex;
}

.space--between{
  align-items: center;
  justify-content: space-between;
}

.space--center{
  align-items: center;
  justify-content: center;
}

.space--left{
  align-items: flex-start;
  justify-content: flex-start;
}

.cta--btn a,
.cta--btn button{
  padding: 0.625rem 1.75rem 0.625rem 1.75rem;
  border-radius: 0.25rem;
}

.primary--btn{
  background: var(--primaray-color);
  color: #fff;
}

.secondary--btn{
  background: #fff;
  color: var(--secondary-color);
}

.main--menus{
  display: none;
}

.menu--tab {
  position: relative;
  z-index: 99;
  cursor: pointer;
}

.page--title {
  margin-bottom: 4rem;
}

.page--title h2{
  font-size: clamp(1.6rem, 2.188vh, 2.188rem);
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

.page--title p{
  text-align: center;
}

.bg{
  position: relative;
}

.overlay{
  position: absolute;
  background: #0a0500;
  inset: 0;
  opacity: .9;
  z-index: 1;
  mix-blend-mode: hard-light;
}

@media (min-width:1601px) {
  .wrapper{
    position: relative;
    width: 1600px;
    margin: var(--margin-auto);
  }
  .slider--container {
    grid-template-columns: 42.5rem auto;
  }
}


@media (max-width:1140px){
  :root{
    --container: 1024px
  }
}

@media (max-width:1024px){
  :root{
    --container: 860px
  }
}

@media (max-width:768px){
  :root{
    --container: 100%
  }
}