.infolabel.info--label{
    position: relative;
    background: var(--bg--color);
    padding: 6rem 0;
    overflow: hidden;
}

.info--label .bg--props--round::before{
    top: -5.5rem;
    left: -1.875rem;
}

.info--label .bg--props--circle::before{
    margin: auto;
    left: 0;
    right: 0;
    bottom: -8.75rem;
}

.info--label--block{
    flex-wrap: wrap;
    gap: clamp(5rem, 10vw, 10rem);
}

.info--label--title .pagetitle.page--title h2{
    text-align: left;
}

@media (max-width:768px) {
    .info--label--block {
        gap: clamp(2rem, 0vw, 0rem);
    }
}

@media (max-width:440px) {
    .infolabel.info--label {
        text-align: center;
        z-index: 999;
    }
}