.corona--prevent--heading {
    margin-top: 8%;
}

.corona--prevent--heading p {
    padding: 0 32rem;
}

.grid.case--container {
    grid-template-columns: auto auto auto;
    width: calc(100% - 10rem);
    margin: auto;
    grid-column-gap: 2rem;
    padding-top: 2rem;
}

.case--container-box {
    position: relative;
    background: #fff;
    box-shadow: -1px 1px 20px 0px #00000033;
    padding: 1.5rem;
}

.case--container-box::before{
    content: '';
    position: absolute;
    background-image: url(../Assets/covid-spyke.png);
    width: 3.75rem;
    height: 3.75rem;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 9;
    bottom: -2rem;
    left: 0;
    right: 0;
    margin: auto;
}

.img-overlay{
    position: relative;
}

.img-overlay img{
    width: 100%;
}

.img-overlay .cta--btn{
    position: absolute;
    top: calc(50% - 12px);
    left: 0;
    right: 0;
    text-align: center;
}

.case--container-box h4{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 3rem;
}

.case--container-box p{
    text-align: center;
    margin-bottom: 4rem;
}

@media (max-width:1024px){
    .corona--prevent--heading p {
        padding: 0 10rem;
    }
}

@media (max-width:768px) {
    .grid.case--container {
        width: calc(100% - 4rem);
        grid-column-gap: 1rem;
    }
}

@media (max-width:440px) {
    .corona--prevent--heading p {
        padding: 0 1rem;
    }
    .grid.case--container {
        grid-template-columns: 100%;
        grid-row-gap: 3rem;
    }
}

