.contactus.contact-us{
    position: relative;
    padding: 7rem 0;
}

.contact--us--block {
    grid-template-columns: 45% 1fr;
    grid-gap: 3rem;
    align-items: flex-start;
    margin-top: 3rem;
}

.form--container input,
.form--container textarea{
    width: 100%;
    border: 0;
    height: 2.8125rem;
    margin-bottom: 1.5625rem;
    outline: 0;
    box-shadow: 0px 0.125rem 0.1875rem 0.0625rem #0000001c;
    padding: 0 0.9375rem;
}

.form--container textarea{
    height: 8.75rem;
}

.form--container button{
    background: rgb(188, 136, 61);
    background: linear-gradient(359deg, rgba(188, 136, 61, 1) 0%, rgba(251, 147, 10, 1) 50%, rgba(245, 228, 123, 1) 100%);
    border: 0;
    color: #fff;
    font-family: var(--secondary--font);
    font-size: 1.2rem;
    padding: 1.0625rem 3.75rem;
    border-radius: 3.125rem;
    text-transform: uppercase;
    cursor: pointer;
}

.contact--frame iframe{
    filter: grayscale(1);
}

.contact-us .round--sphere{
    position: absolute;
    right: -7%;
    top: 50%;
}

@media (max-width:1366px) {
    .contact-us .round--sphere {
        right: -10%;
    }
}

@media (max-width:1140px) {
    .contact-us .round--sphere {
        right: -14%;
    }
}

@media (max-width:768px) {
    .contact--us--block {
        grid-template-columns: 100%
    }
    .contact-us .round--sphere {
        display: none;
    }
}