header.header.header-block {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.menu.main--menu ul {
    display: flex;
    gap: 4rem;
}

.header---block{
    grid-template-columns: auto auto auto;
}

.menu.main--menu ul li a{
    position: relative;
    font-size: clamp(1rem, 1.25vh, 1.25rem);
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
}

.menu.main--menu ul li a::before{
    content: '';
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 1.5625rem;
    background: #fff;
    top: 0.525rem;
    left: -1.25rem;
}

.account--bar ul{
    gap: 1rem;
}

.account--bar li a{
    display: flex;
}

.main--header {
    padding: clamp(2rem, 2.5vh, 2.5rem) 0;
}

@media (max-width:1024px) {
    .menu.main--menu ul {
        gap: 3rem;
    }
}

@media (max-width:768px) {
    .mobile--menu{
        display: block;
    }
    .menu.main--menu{
        display: none;
    }
    .header---block {
        grid-template-columns: auto auto;
        justify-content: space-between;
    }
    .mobile--menu--block .menu.main--menu{
        display: block;
    }
    .mobile--menu--block .menu.main--menu ul{
        flex-direction: column;
        gap: 1rem;
        padding: 2rem 0;
    }
    .mobile--menu--block {
        background: #000;
        border-radius: 10px;
        margin-top: 2rem;
        position: relative;
        z-index: 9;
        text-align: center;
    }
}



